# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\CodeTings\CS230\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignore all class files
*.class
*.iml